{%  extends 'base.html' %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Créer un projet</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

{%  block content %}

      <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-12 col-md-12 mb-12">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">Création d'entreprise</div>
                                <form action="" class="d-flex flex-column justify-content-center align-items-center" method="post">

                                    <div class="col-4">
                                        <button type="submit" value="Submit" class="btn btn-primary btn-block">Créer une entreprise</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-cookie-bite x9"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        <div>

        </div>
    </div>

{% endblock %}