{%  extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Tableau de bord</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

<div class="content">
      <div class="container-fluid">
      <div class="row">
        {% for project in projects %}
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-12 col-md-12 mb-12">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ project.name }}</div>
                                <div class="h5 mb-0 font-weight-light text-gray-400" role="button"><a href="{% url 'ticket_list_by_project' project.pk %}">Voir la liste des tickets en cours</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
        <div>

        </div>
    </div>

        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
</div>
{%  endblock %}