{% extends 'base.html' %}

{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h3>
                            Mon compte
                            <small class="text-muted">{{ user.username }}</small>
                        </h3>
                        <div class="col-12 mt-5">

                            <form method="post" action="">
                                {% csrf_token %}

                                {% for field in form %}
                                    <div class="form-group row">
                                        <label for="username" class="col-sm-5 col-form-label">{{ field.label }}</label>
                                        <div class="col-sm-7">
                                            {{ field }}
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="form-group row d-flex justify-content-end mt-5">
                                    <div class="col-sm-7 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary">Modifier</button>
                                    </div>
                                </div>
                                <div class="error-forms d-flex justify-content-center mt-5">
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}

                                </div>
                            </form>
                        </div>

                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
    </div>
{% endblock %}