{%  extends 'base.html' %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Liste des Projets</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Accueil</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

{%  block content %}

      <div class="row">
        {% for project in projects %}
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-12 col-md-12 mb-12">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">{{ project.name }}</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" role="button"><a href="{% url 'project_detail' project.pk %}">Détails</a></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-cookie-bite x9"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
        <div>

        </div>
    </div>

{% endblock %}